version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.cra.dev
    ports:
      - "3000:3000" # CRA usa 3000
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
